[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://github.com/gflags/gflags.git
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/dawn"]
	path = third_party/dawn
	url = https://dawn.googlesource.com/dawn
[submodule "assets"]
	path = assets
	url = https://github.com/yangfengzzz/Assets.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
[submodule "third_party/tinyobj"]
	path = third_party/tinyobj
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "third_party/tinygltf"]
	path = third_party/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "third_party/astc"]
	path = third_party/astc
	url = https://github.com/ARM-software/astc-encoder
[submodule "third_party/ktx"]
	path = third_party/ktx
	url = https://github.com/KhronosGroup/KTX-Software
[submodule "third_party/physx"]
	path = third_party/physx
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "third_party/ozz"]
	path = third_party/ozz
	url = https://github.com/guillaumeblanc/ozz-animation.git
[submodule "third_party/rttr"]
	path = third_party/rttr
	url = https://github.com/rttrorg/rttr.git
[submodule "third_party/fastnoise2"]
	path = third_party/fastnoise2
	url = https://github.com/Auburn/FastNoise2
[submodule "third_party/fastnoiselite"]
	path = third_party/fastnoiselite
	url = https://github.com/Auburn/FastNoiseLite.git
[submodule "third_party/muparser"]
	path = third_party/muparser
	url = https://github.com/beltoforion/muparser.git
[submodule "third_party/implot"]
	path = third_party/implot
	url = https://github.com/epezent/implot.git
[submodule "third_party/tinyxml2"]
	path = third_party/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "third_party/nlohmann"]
	path = third_party/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "third_party/sol2"]
	path = third_party/sol2
	url = https://github.com/ThePhD/sol2.git
